[Unit]
Description=Periodically run our wireguard backup script
Requires=wireguard_backup.service

[Timer]
Unit=tp2_backup.service
OnCalendar=daily

[Install]
WantedBy=timers.target